# Public beta address. On Google Cloud this will be your reserved external IP,
# written as 203-0-113-10.sslip.io (dots in the IP become hyphens).
POWERNZ_HOSTNAME=CHANGE-ME.sslip.io
POWERNZ_PRIVACY_CONTROLLER=PowerNZ Beta
POWERNZ_PRIVACY_CONTACT=la persona que te compartió este enlace
